<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyBlog</title>

    <link th:href="@{/resources/plugins/fullPage/jquery.fullPage.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/plugins/waves-0.7.5/waves.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/admin.css}" rel="stylesheet"/>
    <link  th:href="@{/resources/plugins/layui/dist/css/layui.css}" rel="stylesheet">
    <style>
        /** skins **/
        #zheng-upms-server #header {
            background: #29A176;
        }

        #zheng-upms-server .content_tab {
            background: #29A176;
        }

        #zheng-upms-server .s-profile > a {
            background: url(..resources/images/zheng-upms.png) left top no-repeat;
        }

        #zheng-cms-admin #header {
            background: #455EC5;
        }

        #zheng-cms-admin .content_tab {
            background: #455EC5;
        }

        #zheng-cms-admin .s-profile > a {
            background: url(..resources/images/zheng-cms.png) left top no-repeat;
        }

        #zheng-pay-admin #header {
            background: #F06292;
        }

        #zheng-pay-admin .content_tab {
            background: #F06292;
        }

        #zheng-pay-admin .s-profile > a {
            background: url(..resources/images/zheng-pay.png) left top no-repeat;
        }

        #zheng-ucenter-home #header {
            background: #6539B4;
        }

        #zheng-ucenter-home .content_tab {
            background: #6539B4;
        }

        #zheng-ucenter-home .s-profile > a {
            background: url(..resources/images/zheng-ucenter.png) left top no-repeat;
        }

        #zheng-oss-web #header {
            background: #0B8DE5;
        }

        #zheng-oss-web .content_tab {
            background: #0B8DE5;
        }

        #zheng-oss-web .s-profile > a {
            background: url(..resources/images/zheng-oss.png) left top no-repeat;
        }

        #test #header {
            background: test;
        }

        #test .content_tab {
            background: test;
        }

        #test .s-profile > a {
            background: url(test) left top no-repeat;
        }
    </style>
</head>
<body>
<form id="myForm" style="display: none;width:300px; height:200px;" th:action="@{/uploadFile}" method="post" enctype="multipart/form-data">
    <input class="form-control" type="file" name="file">
    <button class="btn btn-default">提交</button>
</form>
<header id="header">
    <ul id="menu">
        <li id="guide" class="line-trigger">
            <div class="line-wrap">
                <div class="line top"></div>
                <div class="line center"></div>
                <div class="line bottom"></div>
            </div>
        </li>
        <li id="logo" class="hidden-xs">
            <a th:href="@{/index}">
                <img th:src="@{resources/images/logo.png}"/>
            </a>
            <span id="system_title">权限管理系统</span>
        </li>
        <li class="pull-right">
            <ul class="hi-menu">
                <!--前往博客首页-->
                <li>
                    <a class="waves-effect waves-light" th:href="@{/blog/index/0/0}">
                        <button class="btn btn-primary">前往博客首页</button>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-light"
                       onclick="layer.open({
                            type:2,
                            title:'文件上传',
                            /*closeBtn: false,
                            shift: 2,
                            shadeClose: true,*/
                            content: '/user/file'
                       })">
                        <button class="btn btn-primary">网盘文件上传</button>
                    </a>
                </li>
                <!--<li>
                    <a class="waves-effect waves-light"
                       onclick="window.open('/user/file','_blank','scrollbars=0,resizable=0;width=300');return false">
                        <button class="btn btn-primary">前往图片上传</button>
                    </a>
                </li>-->
                <!-- 搜索 -->
                <li class="dropdown">
                    <a class="waves-effect waves-light" data-toggle="dropdown" href="javascript:;">
                        <i class="him-icon zmdi zmdi-search"></i>
                    </a>
                    <ul class="dropdown-menu dm-icon pull-right">
                        <form id="search-form" class="form-inline">
                            <div class="input-group">
                                <input id="keywords" type="text" name="keywords" class="form-control" placeholder="搜索"/>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><span
                                            class="glyphicon glyphicon-search"></span></button>
                                </div>
                            </div>
                        </form>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="waves-effect waves-light" data-toggle="dropdown" href="javascript:;">
                        <i class="him-icon zmdi zmdi-dropbox"></i>
                    </a>
                    <ul class="dropdown-menu dm-icon pull-right">
                        <li class="skin-switch">
                            请选择系统切换
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="waves-effect switch-systems" href="javascript:;" systemid="1"
                               systemname="zheng-upms-server" systemtitle="权限管理系统"><i
                                    class="zmdi zmdi-shield-security"></i> 权限管理系统</a>
                        </li>

                        <li>
                            <a class="waves-effect switch-systems" href="javascript:;" systemid="2"
                               systemname="zheng-cms-admin" systemtitle="内容管理系统"><i class="zmdi zmdi-wikipedia"></i>
                                内容管理系统</a>
                        </li>

                        <li>
                            <a class="waves-effect switch-systems" href="javascript:;" systemid="3"
                               systemname="zheng-pay-admin" systemtitle="支付管理系统"><i class="zmdi zmdi-paypal-alt"></i>
                                支付管理系统</a>
                        </li>

                        <li>
                            <a class="waves-effect switch-systems" href="javascript:;" systemid="4"
                               systemname="zheng-ucenter-home" systemtitle="数据可视化系统"><i class="zmdi zmdi-account"></i>
                                用户管理系统</a>
                        </li>

                        <li>
                            <a class="waves-effect switch-systems" href="javascript:;" systemid="5"
                               systemname="zheng-oss-web" systemtitle="存储管理系统"><i class="zmdi zmdi-cloud"></i>
                                存储管理系统</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="waves-effect waves-light" data-toggle="dropdown" href="javascript:;">
                        <i class="him-icon zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu dm-icon pull-right">
                        <li class="hidden-xs">
                            <a class="waves-effect" data-ma-action="fullscreen" href="javascript:fullPage();"><i
                                    class="zmdi zmdi-fullscreen"></i> 全屏模式</a>
                        </li>
                        <li>
                            <a class="waves-effect" data-ma-action="clear-localstorage" href="javascript:;"><i
                                    class="zmdi zmdi-delete"></i> 清除缓存</a>
                        </li>
                        <li>
                            <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-face"></i> 隐私管理</a>
                        </li>
                        <li>
                            <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-settings"></i> 系统设置</a>
                        </li>
                        <li>
                            <a class="waves-effect" th:href="@{/loginOut}"><i class="zmdi zmdi-run"></i> 退出登录</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</header>
<section id="main">
    <!-- 左侧导航区 -->
    <aside id="sidebar">
        <!-- 个人资料区 -->
        <div class="s-profile">
            <a class="waves-effect waves-light" href="javascript:;">
                <div class="sp-pic">
                    <img th:src="@{resources/images/game.jpg}"/>
                </div>
                <div class="sp-info">
                    用户名:[[${user.nickname}]]
                    <i class="zmdi zmdi-caret-down"></i>
                </div>
            </a>
            <ul class="main-menu">
                <li>
                    <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-account"></i> 个人资料</a>
                </li>
                <li>
                    <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-face"></i> 隐私管理</a>
                </li>
                <li>
                    <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-settings"></i> 系统设置</a>
                </li>
                <li>
                    <a class="waves-effect" th:href="@{/loginOut}"><i class="zmdi zmdi-run"></i> 退出登录</a>
                </li>
            </ul>
        </div>
        <!-- /个人资料区 -->
        <!-- 菜单区 -->
        <ul class="main-menu">
            <!--<li>
            <a class="waves-effect" href="javascript:Tab.addTab('首页', '/index');"><i class="zmdi zmdi-home"></i> 首页</a>
            </li>-->
            <li class="sub-menu system_menus system_1 0">
                <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-accounts"></i> 角色用户管理</a>
                <ul>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('用户管理', '/user/list');">用户管理</a></li>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('角色管理', '/manage/user/index');">角色管理</a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu system_menus system_1 3">
                <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-accounts-list"></i> 系统组织管理</a>
                <ul>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('用户管理', '/user/list');">系统管理</a></li>
                    <li><a class="waves-effect"
                           href="javascript:Tab.addTab('组织管理', '/manage/organization/index');">组织管理</a></li>
                </ul>
            </li>
            <li class="sub-menu system_menus system_1 6">
                <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-lock-outline"></i> 权限资源管理</a>
                <ul>
                    <li><a class="waves-effect"
                           href="javascript:Tab.addTab('权限管理', '/manage/permission/index');">权限管理</a></li>
                </ul>
            </li>
            <li class="sub-menu system_menus system_1 7">
                <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-more"></i> 其他数据管理</a>
                <ul>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('公共码表', '/manage/coder/index');">公共码表</a>
                    </li>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('会话管理', '/manage/session/index');">会话管理</a>
                    </li>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('日志记录', '/log/list');">日志记录</a></li>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('键值设置', '/manage/map/index');">键值设置</a></li>
                </ul>
            </li>
            <li class="sub-menu system_menus system_2 12" style="display:none;">
                <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-menu"></i> 标签类目管理</a>
                <ul>
                    <!--<li><a class="waves-effect" href="javascript:Tab.addTab('标签管理', '/manage/tag/index');">标签管理</a></li>-->
                    <li><a class="waves-effect" href="javascript:Tab.addTab('类目管理', '/category/list');">类目管理</a></li>
                </ul>
            </li>
            <li class="sub-menu system_menus system_2 15" style="display:none;">
                <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-collection-text"></i> 文章内容管理</a>
                <ul>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('文章管理', '/article/list');">文章管理</a></li>
                    <!--<li><a class="waves-effect" href="javascript:Tab.addTab('回收管理', '/manage/article/recycle');">回收管理</a></li>-->
                </ul>
            </li>
            <li class="sub-menu system_menus system_2 17" style="display:none;">
                <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-collection-text"></i> 数据源监控</a>
                <ul>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('阿里Druid监控', '/druid/weburi.html');">阿里Durid监控</a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu system_menus system_4 41" style="display:none;">
                <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-collection-text"></i> 地图可视化</a>
                <ul>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('入门', '/map/map');">入门</a></li>
                </ul>
                <a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-collection-text"></i> 图表可视化</a>
                <ul>
                    <li><a class="waves-effect" href="javascript:Tab.addTab('阿里Druid监控', '/druid/weburi.html');">入门</a>
                    </li>
                </ul>
            </li>
            <li>
                <div class="upms-version">
                    &copy; YHB V1.0.0
                </div>
            </li>
        </ul>
        <!-- /菜单区 -->
    </aside>
    <!-- /左侧导航区 -->
    <section id="content">
        <div class="content_tab">
            <div class="tab_left">
                <a class="waves-effect waves-light" href="javascript:;"><i class="zmdi zmdi-chevron-left"></i></a>
            </div>
            <div class="tab_right">
                <a class="waves-effect waves-light" href="javascript:;"><i class="zmdi zmdi-chevron-right"></i></a>
            </div>
            <ul id="tabs" class="tabs">
                <li id="tab_home" data-index="/index" data-closeable="false" class="cur">
                    <a class="waves-effect waves-light">首页</a>
                </li>
            </ul>
        </div>
        <div class="content_main">
            <div id="iframe_home" class="iframe cur">
                <img style="width: 100%;height: 100%;" th:src="@{/resources/data/logo.gif}">
            </div>
        </div>
    </section>
</section>
<footer id="footer"></footer>

<script th:src="@{/resources/plugins/jquery.1.12.4.min.js}"></script>
<script th:src="@{/resources/plugins/bootstrap-3.3.0/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/plugins/waves-0.7.5/waves.min.js}"></script>
<script th:src="@{/resources/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/resources/plugins/BootstrapMenu.min.js}"></script>
<script th:src="@{/resources/plugins/device.min.js}"></script>
<script th:src="@{/resources/plugins/fullPage/jquery.fullPage.min.js}"></script>
<script th:src="@{/resources/plugins/fullPage/jquery.jdirk.min.js}"></script>
<script th:src="@{/resources/plugins/jquery.cookie.js}"></script>
<script th:src="@{/resources/js/admin.js}"></script>
<script th:src="@{/resources/plugins/layui/dist/layui.js}"></script>
<script th:src="@{/resources/plugins/layui/sockjs.js}"></script><!-- 如果浏览器不支持socktjs，添加支持 -->
</body>
<script th:inline="javascript">
    $('#myForm').submit(function(){
        $.ajax({
            url:"/uploadFile",
            data:$('#myForm').serialize(),
            dataType:"json",
            error:function(data){
                layer.alert(data.message);
            },
            success:function(data){
                layer.alert(data.message);
            }
        });
    });
    $(function () {
        /*layim layui的聊天插件*/
        //初始化
        layui.use('layim', function(layim){
            //---即使聊天服务端地址配置，端口和web服务器端口一样，80可以省略
            var host = window.document.location.host;
            var pathName = window.document.location.pathname;
            var projectName = pathName.substring(0, pathName.substr(1).indexOf('/') + 1);
            var wsServer = "ws://"+host;
            var id = [[${user.id}]]
            var currentLoginName = [[${user.username}]];
            var currentName = [[${user.nickname}]];
            var webSocket = null;
            if ('WebSocket' in window || 'MozWebSocket' in window) {
                webSocket = new WebSocket(wsServer+"/websocket");
            } else {
                webSocket = new SockJS( wsServer+"/sockjs/websocket");
            }
            webSocket.onerror = function(event) {
                alert("websockt连接发生错误，请刷新页面重试!")
            };
            // 连接成功建立的回调方法
            webSocket.onopen = function(event) {
                console.log("连接成功建立");
            };
            // 接收到消息的回调方法
            webSocket.onmessage = function(event) {
                var res=event.data;
                if(res.indexOf("_online_all_status_")>=0){
                    var dd = res.substring("_online_all_status_".length);
                    setTimeout(function(){updateOnlineStatus(eval('('+dd+')').body.data);},500);
                }
                if(res.indexOf('_sys_')>=0){//系统通知
                    var arra = res.split("_sys_");
                    var sender=arra[0];
                    var contents=arra[1];
                    var obj = {
                        username: "系统通知"
                        ,avatar: layui.cache.dir+'images/face/notify.png'
                        ,id:sender
                        ,type: 'friend'
                        ,content: contents
                    }
                    layim.getMessage(obj);
                    return;
                }
                if(res.indexOf("_msg_")>=0){
                    var arra = res.split("_msg_");
                    var sender=arra[0];
                    var receiver=arra[1];//发送者登录名
                    var content=arra[2];
                    var avatar=arra[3];
                    var type=arra[4];
                    var senderName=arra[5];//发送者姓名
                    var sendtime = arra[6];
                    if(sendtime != 'NAN'){//使用历史记录时间
                        layim.getMessage({
                            username: senderName
                            ,avatar: avatar
                            ,id: sender
                            ,type: type
                            ,content: content
                            ,timestamp:parseFloat(sendtime)
                        });
                    }else{
                        layim.getMessage({
                            username: senderName
                            ,avatar: avatar
                            ,id: sender
                            ,type: type
                            ,content: content
                        });
                    }
                }
            };
            //发送消息的方法
            function send(mine,To) {
                webSocket.send(
                    id+"_msg_"+To.id+"_msg_"+mine.content+"_msg_"+mine.avatar+"_msg_"+To.type+"_msg_"+To.username+"_msg_"
                    /*{
                    sender:id,
                    receiver:To.id,
                    msg:mine.content,
                    avatar:mine.avatar,
                    type:To.type,
                    senderName:mine.nickname,
                    sendtime:new Date(),
                }*/);
            };
            //切换在线状态的方法
            function setonline() {
                webSocket.send("_online_user_"+currentLoginName);
            };
            //切换离线状态的方法
            function sethide() {
                webSocket.send("_leave_user_"+currentLoginName);
            };

            //更新在线用户信息
            function updateOnlineStatus(arra)//更新在线用户信息
            {
                $("div.layui-layim-main ul.layim-list-friend li ul.layui-layim-list li").each(function(){//状态还原
                    if(this.className != 'layim-null'){
                        var span = $(this).find("span:first");
                        var name = span.html();
                        var loginName = this.className.replace("layim-friend","").trim();
                        if((','+arra+",").indexOf(','+loginName+',')>=0){
                            if(name.indexOf('(<font color="red">离线</font>)')>=0){
                                span.replace('(<font color="red">离线</font>)', '(<font color="green">在线</font>)')
                            } else if (name.indexOf('(<font color="green">在线</font>)')>=0){

                            }else{
                                span.html(name +'(<font color="green">在线</font>)');
                            }
                        }else{
                            if(name.indexOf('(<font color="red">离线</font>)')>=0){
                            } else if (name.indexOf('(<font color="green">在线</font>)')>=0){
                                span.replace( '(<font color="green">在线</font>)', '(<font color="red">离线</font>)')
                            }else{
                                span.html(name+'(<font color="red">离线</font>)');
                            }
                        }
                    }
                });
            }
            //基础配置
            layim.config({
                //初始化接口
                init: {
                    url: '/iim/layim/layimInit' //接口地址（返回的数据格式见下文）
                    ,type: 'get' //默认get，一般可不填
                    ,data: {} //额外参数
                },
                title:'myQQ'
                //简约模式（不显示主面板）
                ,brief: false
                ,min:false
                ,initSkin: '5.jpg'
                //查看群员接口
                ,members: {
                    url: '/iim/layim/getGroupMembers'
                    ,data: {}
                }
                ,uploadImage: {
                    url: '${ctx}/iim/layim/uploadImage'//（返回的数据格式见下文）
                    ,type: 'post' //默认post
                }
                ,uploadFile: {
                    url: '${ctx}/iim/layim/uploadFile' //（返回的数据格式见下文）
                    ,type: 'post' //默认post
                }
                //扩展工具栏，下文会做进一步介绍（如果无需扩展，剔除该项即可）
                ,tool: [{
                    alias: 'code' //工具别名
                    ,title: '代码' //工具名称
                    ,icon: '&#xe64e;' //工具图标，参考图标文档
                }]
                // ,msgbox: layui.cache.dir + 'css/modules/layim/html/msgbox.html' //消息盒子页面地址，若不开启，剔除该项即可
                ,chatLog:'/iim/chatHistory' //聊天记录地址
                ,find:'${ctx}/iim/contact/layimManager' //发现页面地址，若不开启，剔除该项即可
            });
            //监听自定义工具栏点击，以添加代码为例
            layim.on('tool(code)', function(insert, send, obj){ //事件中的tool为固定字符，而code则为过滤器，对应的是工具别名（alias）
                layer.prompt({
                    title: '插入代码'
                    ,formType: 2
                    ,shade: 0
                }, function(text, index){
                    layer.close(index);
                    insert('[pre class=layui-code]' + text + '[/pre]'); //将内容插入到编辑器，主要由insert完成
                    //send(); //自动发送
                });
            });
            //监听发送消息
            layim.on('sendMessage', function(res){
                var mine = res.mine; //包含我发送的消息及我的信息
                var To = res.to; //对方的信息

                //发送消息到WebSocket服务
                send(mine,To);

            });

            //监听在线状态的切换事件
            layim.on('online', function(data){
                if(data=="online"){
                    setonline(); //用户上线
                }else{
                    sethide();//用户离线
                }
            });

            //layim建立就绪
            layim.on('ready', function(res){
                //更改签名
                var signObj = $('.layui-layim-remark');
                signObj.focus(function () {
                    signObj.removeClass('layim-sign-hide');
                });
                signObj.blur(function () {
                    signObj.addClass('layim-sign-hide');
                });
                //enter提交
                signObj.keydown(function (event) {
                    if (event.which == 13) {
                        signObj.addClass('layim-sign-hide');
                        signObj.blur();
                        var value= signObj.val();
                        $.post("/user/saveSign",{'sign':value},function(data){
                            if(data.success){
                                top.layer.alert(data.message, {icon: 1});
                            }else{
                                top.layer.alert(data.message, {icon: 2});
                            }
                        })
                    }
                });
            });
            //监听查看群员
            layim.on('members', function(data){
            });
            //监听聊天窗口的切换
            layim.on('chatChange', function(data){
            });
        });
    });
</script>
</html>