<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyBlog</title>
</head>
<body>
<div th:replace="blog/index_top::html"></div>
<div class="container">
    <div class="row main">
        <div class="col-md-9 content">
            <ul class="media-list">
                <li class="media" th:if="${all.currentPage*all.pageSize<articleStat.count&&articleStat.count<(all.currentPage+1)*all.pageSize+1}"
                    th:each="article,articleStat:${all.items}">
                    <div>
                        <a class="media-left">
                            <img th:src="@{/blogpage/images/post6.jpg}" alt="">
                        </a>
                        <div class="media-body">
                            <h2><a th:href="@{'/blog/getArticleByid?id='+${article.id}}">[[${article.title}]]</a></h2>
                            <p>
                                <span> <i class="glyphicon glyphicon-user"></i> [[${article.createid}]]</span>
                                <em> <i class="glyphicon glyphicon-time"></i>[[${#dates.format(article.createtime,
                                    'yyyy-MM-dd hh:mm:ss')}]]</em>
                                <strong> <i class="glyphicon glyphicon-eye-open"></i>[[${article.remark}]]人浏览</strong>
                                <a href=""> <i class="glyphicon glyphicon-comment"></i>评论一下</a>
                            </p>
                            <p class="summary">
                                [[${article.summary}]]
                            </p>
                        </div>
                    </div>
                </li>

            </ul>

        </div>
        <div th:replace="blog/index_right::html"></div>
    </div>
</div>
<div style="margin-bottom: 20px">
    <div class="col-md-6" style="margin-left: 20%">
        <p style="font-size: medium">

            <a th:href="@{'/blog/index/0/0'}" th:if="${all.currentPage}!=0">首页</a>
            <a th:href="@{'/blog/index/'+${all.currentPage}+'/-1'}" th:if="${all.currentPage}>0">上一页</a>
            <a th:href="@{'/blog/index/'+${all.currentPage}+'/1'}" th:if="${all.currentPage}+1<${all.totalPage}">下一页</a>
            <a th:href="@{'/blog/index/'+${all.totalPage}+'/-1'}" th:if="${all.currentPage}+1!=${all.totalPage}">尾页</a>

            当前第[[${all.currentPage }+1]]页,共[[${all.totalPage}]]页,共[[${all.totalNum}]]条记录&nbsp;&nbsp;&nbsp;当前页数:[[${all.currentPage}+1]]

        </p>
    </div>
</div>
<footer class="text-center">
    <p>版权所有，保留一切权利！ 转载内容版权归作者及来源网站所有，原创内容转载请注明来源。</p>
    <p>Copyright © 2018-2028 yhb All Rights Reserved.</p>
</footer>
</body>
<script>
    <![CDATA[
    $(window).load(function () {
        if(a && b){
            //...
        }
    });
    ]]>
</script>
</html>