<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>文章分类维护</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"
          href="/css/style.css"/>
    <link rel="stylesheet" th:href="@{/editormd/css/editormd.css}"
          href="/editormd/css/editormd.css"/>
</head>
<body>
<form>
    <table>
        <tr>
            <div class="input-group myStyle" style="width: 50%;height: 50%;margin-top: 10px;margin-left: 20%">
                <input th:type="hidden" th:id="id" th:value="${category}!=''?${category.id}:''">
                <span class="input-group-addon">分类名</span>
                <input type="text" th:value="${category}!=''?${category.name}:''" class="form-control" required th:id="name" placeholder="请输入分类名">
            </div>
        </tr>
        <tr>
            <div class="input-group myStyle" style="width: 20%;height: 20%;margin-top: 15px;margin-bottom: 15px;;margin-left: 20%">
                <span class="input-group-addon">是否有效</span>
                <select class="form-control">
                    <option value=""> -- 请选择 -- </option>
                    <option th:selected="${category}!=''?${category.isEffective}==0:false" th:value="0">无效</option>
                    <option th:selected="${category}!=''?${category.isEffective}==1:false" th:value="1">有效</option>
                </select>
            </div>
        </tr>
        <tr>
            <div class="input-group myStyle" style="width: 70%;height: 70%;;margin-left: 20%">
                <span class="input-group-addon">备注</span>
                <input type="text" class="form-control" th:value="${category}!=''?${category.remark}:''" th:id="remark" placeholder="请输入备注">
            </div>
        </tr>
        <tr>
            <div class="button-group" style="margin-top: 20px;">
                <button type="button" class="btn btn-success" style="background-color: lightgreen" th:id="submitBtn">保存</button>
                <button type="button" style="background-color: lightcoral" onclick="javascript:window.location.href = document.referrer;" class="btn btn-info">取消</button>
            </div>
        </tr>
    </table>
</form>

</body>
<script th:src="@{/js/jquery.min.js}" src="/js/jquery.min.js"></script>
<script th:src="@{/resources/plugins/bootstrap-3.3.0/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/plugins/bootstrap-table-1.11.0/bootstrap-table.min.js}"></script>
<script th:src="@{/resources/plugins/bootstrap-table-1.11.0/locale/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{/resources/plugins/waves-0.7.5/waves.min.js}"></script>
<script th:src="@{/resources/plugins/jquery-confirm/jquery-confirm.min.js}"></script>
<script th:src="@{/resources/plugins/select2/js/select2.min.js}"></script>
<script th:src="@{/editormd/js/editormd.js}" src="/editormd/js/editormd.js"></script>
<script type="text/javascript">
    $(function () {
            $("#submitBtn").click(
                function () {
                    submitCategory();
                }
            )
        }
    );

    function submitCategory() {
        var name = $("#name").val();
        var isEffective = $("select").eq(0).find("option:selected").val();
        $.ajax({
            url: "/category/save",
            data: {id:$("#id").val(),name:name,isEffective:isEffective,remark:$("#remark").val()},
            success: function (data) {
                alert(data.message);
                window.location.href = document.referrer;
            },
            error: function (e) {
                alert(e);
            }
        })
    }
</script>
</html>