<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="BaseJs">
        <script th:src="@{/resources/plugins/jquery.1.12.4.min.js}"></script>
        <script th:src="@{/resources/plugins/bootstrap-3.3.0/js/bootstrap.min.js}"></script>
        <script th:src="@{/resources/plugins/bootstrap-table-1.11.0/bootstrap-table.min.js}"></script>
        <script th:src="@{/resources/plugins/bootstrap-table-1.11.0/locale/bootstrap-table-zh-CN.min.js}"></script>
        <script th:src="@{/resources/plugins/waves-0.7.5/waves.min.js}"></script>
        <script th:src="@{/resources/plugins/jquery-confirm/jquery-confirm.min.js}"></script>
        <script th:src="@{/resources/plugins/select2/js/select2.min.js}"></script>
        <script th:src="@{/resources/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
        <script th:src="@{/resources/plugins/BootstrapMenu.min.js}"></script>
        <script th:src="@{/resources/plugins/device.min.js}"></script>
        <script th:src="@{/resources/plugins/fullPage/jquery.fullPage.min.js}"></script>
        <script th:src="@{/resources/plugins/fullPage/jquery.jdirk.min.js}"></script>
        <script th:src="@{/resources/plugins/jquery.cookie.js}"></script>
        <script th:src="@{/resources/js/admin.js}"></script>
        <script th:src="@{/resources/js/common.js}"></script>
    </div>
</body>
</html>