<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yhb.tired.dao.ArticleSortMapper" >
  <resultMap id="BaseResultMap" type="com.yhb.tired.pojo.sys.ArticleSort" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sort_id" property="sortId" jdbcType="BIGINT" />
    <result column="article_id" property="articleId" jdbcType="BIGINT" />
    <result column="create_by" property="createBy" jdbcType="TIMESTAMP" />
    <result column="modified_by" property="modifiedBy" jdbcType="TIMESTAMP" />
    <result column="is_effective" property="isEffective" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sort_id, article_id, create_by, modified_by, is_effective
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yhb.tired.pojo.sys.ArticleSortExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tbl_article_sort
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_article_sort
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_article_sort
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yhb.tired.pojo.sys.ArticleSort" >
    insert into tbl_article_sort (id, sort_id, article_id, 
      create_by, modified_by, is_effective
      )
    values (#{id,jdbcType=BIGINT}, #{sortId,jdbcType=BIGINT}, #{articleId,jdbcType=BIGINT}, 
      #{createBy,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=TIMESTAMP}, #{isEffective,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yhb.tired.pojo.sys.ArticleSort" >
    insert into tbl_article_sort
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sortId != null" >
        sort_id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="modifiedBy != null" >
        modified_by,
      </if>
      <if test="isEffective != null" >
        is_effective,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sortId != null" >
        #{sortId,jdbcType=BIGINT},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null" >
        #{modifiedBy,jdbcType=TIMESTAMP},
      </if>
      <if test="isEffective != null" >
        #{isEffective,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yhb.tired.pojo.sys.ArticleSort" >
    update tbl_article_sort
    <set >
      <if test="sortId != null" >
        sort_id = #{sortId,jdbcType=BIGINT},
      </if>
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=BIGINT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null" >
        modified_by = #{modifiedBy,jdbcType=TIMESTAMP},
      </if>
      <if test="isEffective != null" >
        is_effective = #{isEffective,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yhb.tired.pojo.sys.ArticleSort" >
    update tbl_article_sort
    set sort_id = #{sortId,jdbcType=BIGINT},
      article_id = #{articleId,jdbcType=BIGINT},
      create_by = #{createBy,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=TIMESTAMP},
      is_effective = #{isEffective,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>