<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yhb.tired.dao.ArticleInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yhb.tired.pojo.sys.ArticleInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="is_top" property="isTop" jdbcType="BIT" />
    <result column="traffic" property="traffic" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="TIMESTAMP" />
    <result column="modified_by" property="modifiedBy" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, summary, is_top, traffic, create_by, modified_by
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yhb.tired.pojo.sys.ArticleInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tbl_article_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_article_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_article_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yhb.tired.pojo.sys.ArticleInfo" >
    insert into tbl_article_info (id, title, summary, 
      is_top, traffic, create_by, 
      modified_by)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{isTop,jdbcType=BIT}, #{traffic,jdbcType=INTEGER}, #{createBy,jdbcType=TIMESTAMP}, 
      #{modifiedBy,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yhb.tired.pojo.sys.ArticleInfo" >
    insert into tbl_article_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="isTop != null" >
        is_top,
      </if>
      <if test="traffic != null" >
        traffic,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="modifiedBy != null" >
        modified_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="isTop != null" >
        #{isTop,jdbcType=BIT},
      </if>
      <if test="traffic != null" >
        #{traffic,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null" >
        #{modifiedBy,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yhb.tired.pojo.sys.ArticleInfo" >
    update tbl_article_info
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="isTop != null" >
        is_top = #{isTop,jdbcType=BIT},
      </if>
      <if test="traffic != null" >
        traffic = #{traffic,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null" >
        modified_by = #{modifiedBy,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yhb.tired.pojo.sys.ArticleInfo" >
    update tbl_article_info
    set title = #{title,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      is_top = #{isTop,jdbcType=BIT},
      traffic = #{traffic,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>