<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yhb.tired.iim.dao.BlockFriendsMapper" >
  <resultMap id="BaseResultMap" type="com.yhb.tired.iim.pojo.BlockFriends" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="blockid" property="blockid" jdbcType="VARCHAR" />
    <result column="friendsid" property="friendsid" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createid" property="createid" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="updateid" property="updateid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, blockid, friendsid, createtime, createid, updatetime, updateid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yhb.tired.iim.pojo.BlockFriendsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from iim_block_friends
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from iim_block_friends
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from iim_block_friends
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yhb.tired.iim.pojo.BlockFriends" >
    insert into iim_block_friends (id, blockid, friendsid, 
      createtime, createid, updatetime, 
      updateid)
    values (#{id,jdbcType=VARCHAR}, #{blockid,jdbcType=VARCHAR}, #{friendsid,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createid,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{updateid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yhb.tired.iim.pojo.BlockFriends" >
    insert into iim_block_friends
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="blockid != null" >
        blockid,
      </if>
      <if test="friendsid != null" >
        friendsid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createid != null" >
        createid,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="updateid != null" >
        updateid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="blockid != null" >
        #{blockid,jdbcType=VARCHAR},
      </if>
      <if test="friendsid != null" >
        #{friendsid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createid != null" >
        #{createid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateid != null" >
        #{updateid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yhb.tired.iim.pojo.BlockFriends" >
    update iim_block_friends
    <set >
      <if test="blockid != null" >
        blockid = #{blockid,jdbcType=VARCHAR},
      </if>
      <if test="friendsid != null" >
        friendsid = #{friendsid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createid != null" >
        createid = #{createid,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateid != null" >
        updateid = #{updateid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yhb.tired.iim.pojo.BlockFriends" >
    update iim_block_friends
    set blockid = #{blockid,jdbcType=VARCHAR},
      friendsid = #{friendsid,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createid = #{createid,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      updateid = #{updateid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>